/* header  */
.main-nav{
    min-height: auto;
    display:inline-flex;
    background-color: #22c1c3;
    justify-content: space-between;
    /* border-radius: 2px;
  box-shadow: 0px 10px 5px red; */
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999;
   pointer-events: auto;
}

/* logo title */
.logo h1{
    text-decoration:none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 200;
}

/* menu links area whole */
.menu-links{
    margin-right: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
    min-width:auto;
}

/* menu links i.e navigaiton */
.menu-links ul{
    list-style-type: none;
    display: flex;
}

/* menu links i.e navigaiton individual*/
.menu-links ul li{
    padding-top: 15px;
    cursor: pointer;
}

/* menu links i.e navigaiton individual link*/
/* .menu-links ul li */
.menu-links ul .link{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    padding-left: 50px;
}

/* menu links i.e navigaiton individual link hover*/
.menu-links ul li .link:hover{
    color: #ffa500;
}

.menu-links ul li span{ 
    display: none;
    font-size: 18px;
      color: #ffffff;
      font-weight: 300;
      padding-left: 50px;
  }
  
/* account logo for register and login */
.account{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    padding-left: 50px;
}
/* button container for .account */
.account-button{
    position:absolute;
    background-color: rgba(84, 186, 233, 0.644);
    width:10%;
    margin-top:15px;
    /* margin: 16px 30px 0 0; */
    min-height:auto;
    /* float:right; */
 }
 .account-button-none{
    display:none;
 }
.account-button .button-text{
    display: flex;
    flex-direction:column;
}
.account-button .button-text button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border:none;
    background:transparent;
    font-size: 18px;
    padding:15px 0 15px 0;
    color:#ffffff;
    font-weight:300;
}

.account-button .button-text button:hover{
   background-color: #ffa500;
   border: .1px solid white;
}

.account:hover{
    display:block;
}






/* .dropdown-toggle{ 
    height: 0.6em;
    width: 0.6em;
    position: relative;
    margin-left: 10px;
   display: inline-block;
    margin-left: 0.25em;
    vertical-align: 0.255em;
    content: "";
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */

.hamburger-menu{ 
    display: none;
    background-color: transparent;
    font-size: 1.2em;
    border: none;
}
/* Sign in and Sig up button */
/* 
.sign-button{
    margin-left: 50px;
}
.sign-button button{
    border: none;
    background-color: #ffa500;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 300px;
}

.sign-button button:hover{
    background-color: #ffa6008f;
} */


@media (max-width: 998px) {
    .main-nav{
        justify-content: space-between;
        align-items: center;
    }
    .menu-links{
        display: none;
    }
    .mobile-menu-link ul{
        display: grid;
        position: absolute;
        top: 69px;
        left: 0;
        /* // stacks the li tags vertically  */
        flex-direction: column;
       /* // makes menu span full height and width */
        text-decoration: none;
        list-style-type: none;
        width: 50%;
        height: 20rem;
        background-color: rgba(84, 186, 233, 0.644);
        transform-origin: top;
        transition: .4s ease;
        box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,
        rgba(0,0,0,0.3) 0px 30px 60px -30px;
    }
    .mobile-menu-link li{
    /* // centers link text and strips off margin */    
      list-style: none;
      text-align: left;
      padding-left: 20px;
      padding-top: 20px;
      margin: 0;
      height: 100%;
    }
 
   /* .li li{
        height:100%;
    }  */

    .mobile-menu-link ul li:hover{
        background-color: rgba(26, 24, 24, 0.644);;
    }
    .mobile-menu-link li a{
        color: #ffffff;
        /* // increases the surface area of the anchor tag to span the full width of the menu */
        width: 100%;
        padding: 1.5rem 0;
        text-decoration: none;
    } 
    .menu-links ul li a span{ 
        display: block;
      }
    .mobile-menu-link li a:hover{
        color: #ffa500;
    }

    /* account buton container i.e register and logIN */
    .account-button{
        min-width:50%;
        margin-top: 0;
     }

     /* menu logo for responive */
    .hamburger-menu{
        display: block;
        padding: 20px;
    }  
}