.card {
    background-color: transparent;
    border-radius: 6px;
    
    text-decoration: none;
    height:auto;
    width:24vw;
   margin: 1%;
    overflow: hidden;
    transition: transform 0.6s linear;
  }


  .card:hover{
    
    transform: scale(1.1);
  }
  