/* .product{
    width:300px;
    padding:1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 8px auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.product > img{
    height: 170px;
    border-radius: 8px;
}
.product_info > p{
  margin-bottom:8px;
}
.info_price {
    font-weight: bold;
}
.info_name{
    font-size:1rem;
   overflow:hidden;
}
.info_description{
    font-size:0.8rem;
} */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 20vh;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .card img{
    width:100%;
    height:300px;
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .amount_sec{
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: 700;
  }
  .amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px
  }
.info_button{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #171717;
    background: #ffffff;
    padding: 8px 16px;
    border: 1px solid #171717;
    font-size:1rem;
}

.error{
  font-size: 23px;
  text-align: center;
  
}