.c-container{
    padding: 40px 0 30px 0;
    background: rgba(0, 0, 0, 0.623);
    position: relative;
    background: url(../images/chooseus-bg.jpg) fixed;
    background-size: cover;
    -webkit-background-size:cover;

}
.c-content h3{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 30px;  
}
/* .c-content span{
    border: 1px solid white;
} */
.c-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-box-c{
    border: 1px solid white;
    width: fit-content;
    padding: 30px 70px;
    margin-left: 50px;
}
.c-box-c p{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
}
.c-icons{
    color: white;
    font-size: 200px;
    
}



/* premium page css */
.p-container{

    position: relative;
    background: url(../images/premium.png) fixed;
    background-size: cover;
    -webkit-background-size:cover;
}
.p-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 90px;
}
.p-flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-title{
    margin-left: auto;
    margin-right: auto;
}
.p-title h2{
    color: azure;
    font-size: 30px;
    font-weight: 200;
}
.p-title:after{
        width: 84px;
        height: 4px;
        content: "";
        display: block;
        background: #a5a300;
        margin: 15px 0 24px 0;
}
.p-text p{
    width: 1000px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}
