
/* whole body of img and h1, p, button */
.body1{
    display: flex;
    align-content: center;
    padding-left: 280px;
    width:100%;
    position: relative;
    z-index: -2;
    overflow:visible;
}
.main-body{
    padding-top: 20px;
    height:100vh;    
    background-image: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 58px;
    z-index: -1;
    overflow: visible;
}

.swiper-autop{
    overflow: visible;
    position: relative;
    z-index:-2;

}

.swiper-wrapper {
    overflow: visible;
}
.slideme{

    display: inline-block;
    position:relative;
    z-index: -1;
    overflow: visible;
}
/* image of the home page starting */
.div-img img{
    height:450px;
    width:500px;
    margin-right: 100px;
}

/* whole div for h1, para and button */
.div-text{
    width: 350px;
    color: #ffffff;
   padding-left: 100px;
    
}
/* heading abover para */
.div-text h1{
    font-size: 45px;
    font-weight: 300;
    width: 100%;
    /* color: ; */
    
}

/* Para above button */
.div-text p{
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* home page starting learn more button */
.div-text button{
    background-color: transparent;
    border: 2px solid white;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 200;
    color: #ffff;
    transition: background-color 1s;
}

.img1{
  transition: transform 2s ease-out;
  box-shadow: inset 3px;
  border-radius: 16px 16px;
}
.img1:hover{
    transform:scale(1.25);
}

/* button hover css */
.div-text button:hover{
    background-color: #22c1c3;
}

.products{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:3rem;
}
.products-cards{
    display:flex;
    
}

/* .products-cards h1{
    display:flex;
    flex-direction:column;
} */
.p1{
    padding-right:60px;
}
@media (max-width: 900px) {
    .main-body{
        display:block;  
        height: 200vh;
    }
    .div-img img{
        display:block;
        width:100%;
    }
    .div-text{
        width: 100%;
        padding:100px;
    }
    .div-text h1{
        font-size:35px;
        padding:auto;
    }
    .div-text button{
      margin-top:18px;
    }
}
